<?xml version="1.0"?>
<model>
  <name>Workbench</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>P Nadeaul</name>
    <email>pnadeaul@purdue.edu</email>
  </author>
  <description>
    Frame assembly cell workbench. 1.0m x 0.6m top at 0.9m height.
    Box collision geometry (mesh upgrade later).
  </description>
</model>